/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Общие классы */

.container {
  inline-size: var(--section-width);
  max-inline-size: 696px;
}

.button {
  position: relative;
  inline-size: 130px;
  padding: 9px 17px;
  border: var(--border, 2px solid #000);
  background-color: transparent;
  font-family: var(
    --accent-font,
    sans-serif
  );
  color: #fff;
  transition: box-shadow .3s;
  cursor: pointer;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: var(--shadow-button);
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-accent, #000);
  translate: -100% 0;
  transition: translate .5s ease-in-out;
}

.button:hover::after {
  translate: 0 0;
}

.button__text {
  position: relative;
  z-index: 1;
  font-size: 14px;
  mix-blend-mode: difference;
}


/* page */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  padding: 100px clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-text, 400);
  background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgba(255 255 255 / 0) 2px, rgba(255 255 255 / 0) 4px),
                    repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px, rgba(255 255 255 / 0) 2px, rgba(255 255 255 / 0) 4px),
                    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  border: var(--border, 2px solid #000);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  font-family: var(
    --accent-font,
    sans-serif
  );
  background-color: #fff;
}

.header-title {
  inline-size: clamp(21.4375rem, 18.9727rem + 10.5164vw, 28.4375rem);
  margin: auto;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.header-subtitle {
  margin-block-start: 18px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

/* main */

.page__main {
  margin-block-start: 102px;
}

/* card-list */

.card-list__item:not(:first-child) {
  margin-block-start: 50px;
}

.card {
  background-color: #fff;
  border: var(--border, 2px solid #000);
}

.card__title {
  padding: 6px 10px 4px;
  font-size: var(--font-size-card-title);
  line-height: 1.15;
  font-variation-settings: 'wght' var(--font-weight-card-title, 700);
}

.card__image-label {
  position: absolute;
  z-index: 1;
  inset-block-start: 23px;
  inset-inline-end: 11px;
  font-family: var(
    --accent-font,
    sans-serif
  );
  font-size: 14px;
  line-height: 1;
  text-shadow:
    1px 0 0 rgba(255 255 255 / .5),
    -1px 0 0 rgba(255 255 255 / .5),
    0 1px 0 rgba(255 255 255 / .5),
    0 -1px 0 rgba(255 255 255 / .5);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px rgba(255, 255, 255, .5)) or (text-stroke: 1px rgba(255, 255, 255, .5))) {

  .card__image-label {
    -webkit-text-stroke: 1px rgba(255 255 255 / .5);
    text-stroke: 1px rgba(255 255 255 / .5);
    text-shadow: none;
  }
}

.card__image-wrap {
  position: relative;
  block-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  border-block-start: var(--border, 2px solid #000);
  border-block-end: var(--border, 2px solid #000);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
}

.clean-slate .card__image {
  filter: grayscale(80%);
}

.doubt .card__image {
  filter: saturate(350%);
}

.doubt .card__image-label {
  text-transform: uppercase;
}

.ideal .card__image {
  filter: hue-rotate(30deg);
}

.houmies .card__image {
  filter: invert(80%);
}

.strategies .card__image {
  filter: sepia(90%);
}

.give-up .card__image {
  filter: blur(10px);
}

.here .card__image {
  filter: hue-rotate(100deg) blur(1.3px) contrast(35%) saturate(200%) brightness(100%);
}

.card__description-wrap {
  padding: 26px 25px 0;
}

.card__description {
  font-size: var(--font-weight-size-text, 18px);
  line-height: var(--line-height-card-text, 1.166);
}

.card__description:not(:last-of-type) {
  margin-block-end: 30px;
}

.card__buttons-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  max-block-size: 36px;
  transition: border .3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
  box-shadow: none;
}

.like-icon {
  max-block-size: 36px;
}

.sparks {
  opacity: 0;
}


.card__like-button {
  margin: 25px 0;
}

.memory-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin: 50px auto 0;
  padding: 17px 20px;
  background-color: #fff;
  color: #fff;
  font-size: 14px;
}

.memory__button-icon {
  position: relative;
  z-index: 1;
  max-width: 28px;
  height: auto;
  color: #fff;
  mix-blend-mode: difference;
}

#floppy-icon {
  fill: #fff;
}

.popap {
  position: fixed;
  inset: 50%;
  translate: -50%;
  grid-template-columns: 39px 1fr;
  grid-template-rows: repeat(2, min-content);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  column-gap: 20px;
  row-gap: 30px;
  padding: 30px 41px;
  border: var(--border, 2px solid #000);
  background-color: #fff;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 1.47;
  text-transform: uppercase;
}

.popap[open] {
  display: grid;
}

.popap::backdrop {
  backdrop-filter: brightness(0.2);
}

.page:has(.popap[open]) {
  overflow: hidden;
}

.popap__icon {
  align-self: start;
  margin-block-start: 12px;
}

.popap__text {
  align-self: start;
}

.popap__button {
  grid-column: span 2;
  inline-size: initial;  
  padding: 10px 14.5px;
  text-transform: inherit;
}

.popap__button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-accent, #000);
  translate: -100% 0;
  transition: translate .5s ease-in-out;
}

.popap__button:hover::after {
  translate: 0 0;
}


.popap__button:focus {
  outline: none;
}

@media (width > 375px) {

  .header-subtitle {
    margin-block-start: 20px;
  }

  .page__main {
    margin-block-start: 101px;
  }

  .card__title {
    padding: 6px 10px 4px;
  }

  .card__description-wrap {
    padding: 29.5px 25px 0;
  }

  .card__description:not(:last-of-type) {
    margin-block-end: 29px;
  }

  .card__image-label {
    inset-inline-end: 23px;
  }

  .memory-button {
    flex-direction: row;
    margin: 49px auto 0;
  }

  .memory__button-icon {
    max-width: 21px;
  }

  .popap {
    padding: 30px;
  }
  
}