/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, inter-variable, arial, sans-serif);
  font-variation-settings: "wght" var(--font-weight-card-text, 400);
  padding: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
  background-image: linear-gradient(#000, #fff);
  background-attachment: fixed;
}

.header {
  block-size: 100dvb;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  font-family: var(--accent-font, pressstart2p-regular,'Courier New', sans-serif);
  background-color: #fff;
}

.main-title {
  inline-size: clamp(21.4375rem, 18.9727rem + 10.5164vw, 28.4375rem);
  margin: auto;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.main-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}