/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Общие классы */

.container {
  inline-size: var(--section-width);
}

.button {
  padding: 9.4px 32px;
  border: var(--border, 2px solid #000);
  background-color: transparent;
  font-family: var(
    --accent-font,
    pressstart2p-regular,
    'Courier New',
    sans-serif
  );
}

/* page */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  padding: 100px clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  font-family: var(--main-font, inter-variable, arial, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-text, 400);
  background-image: linear-gradient(#e7e7e7, #e7e7e7);
  background-attachment: fixed;
}

/* header */

.header {
  border: var(--border, 2px solid #000);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  font-family: var(
    --accent-font,
    pressstart2p-regular,
    'Courier New',
    sans-serif
  );
  background-color: #fff;
}

.header-title {
  inline-size: clamp(21.4375rem, 18.9727rem + 10.5164vw, 28.4375rem);
  margin: auto;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.header-subtitle {
  margin-block-start: 18px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

/* main */

.page__main {
  margin-block-start: 100px;
}

/* card-list */

.card-list__item:not(:first-child) {
  margin-block-start: 50px;
}

.card {
  background-color: #fff;
  border: var(--border, 2px solid #000);
}

.card__title {
  padding: 10px 10px 4px;
  font-size: var(--font-size-card-title);
  line-height: 1.12;
  font-variation-settings: 'wght' var(--font-weight-card-title, 700);
}

.card__image-label {
  position: absolute;
  z-index: 1;
  inset-block-start: 26px;
  inset-inline-end: 11px;
  font-family: var(
    --accent-font,
    pressstart2p-regular,
    'Courier New',
    sans-serif
  );
  font-size: 14px;
  line-height: 1;
  text-shadow:
    1px 0 0 rgba(255, 255, 255, .5),
    -1px 0 0 rgba(255, 255, 255, .5),
    0 1px 0 rgba(255, 255, 255, .5),
    0 -1px 0 rgba(255, 255, 255, .5);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px rgba(255, 255, 255, .5)) or (text-stroke: 1px rgba(255, 255, 255, .5))) {

  .card__image-label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, .5);
    text-stroke: 1px rgba(255, 255, 255, .5);
    text-shadow: none;
  }
}

.card__image-wrap {
  position: relative;
  border-block-start: var(--border, 2px solid #000);
  border-block-end: var(--border, 2px solid #000);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
}

.clean-slate .card__image {
  filter: grayscale(80%);
}

.doubt .card__image {
  filter: saturate(350%);
}

.ideal .card__image {
  filter: hue-rotate(30deg);
}

.houmies .card__image {
  filter: invert(80%);
}

.strategies .card__image {
  filter: sepia(90%);
}

.give-up .card__image {
  filter: blur(10px);
}

.here .card__image {
  filter: hue-rotate(100deg) blur(1.3px) contrast(35%) saturate(200%) brightness(100%);
}
.card__description-wrap {
  padding: 22px 25px 0;
}

.card__description {
  font-size: var(--font-weight-size-text, 18px);
  line-height: var(--line-height-card-text, 1.166);
  letter-spacing: 0.01em;
}

.card__memories-place {
  margin-block-start: 27px;
}

.card__buttons-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.card__like-button {
  margin: 25px 0;
}
